!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Cipherbit UI Tests
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = javascript_include_tag 'qunit'
    = javascript_include_tag 'sinon'
    = javascript_include_tag 'qunit-tests'
  %body
    %div{id: 'qunit'}
    %div{id: 'qunit-fixture'}
